
@{
    Layout = null;      
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Richard Go SD7</title>
</head>
<body>
    <div>
        <!-- HTTP Get() Function-->
        @*What's in Chris' trunk?<br />
        <b>@ViewBag.ChristSmithCarTrunk</b> <br />
        The temperature outside is sitting at: <b>@ViewBag.CurrentTemp</b> degrees*@
        <b>@ViewBag.Greeting</b> Hello HOLM-SD!!! (from the view)<br />
        <p>
            We're going to have an exciting event at the park.<br />
            <h1>Happy Easter!</h1>
            <p>Where: Hourglass Park, San Diego, CA 92126</p>
        </p>
        <a asp-action="RsvpForm">RSVP here!</a>

    </div>
</body>
</html>
