
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Richard Go SD7</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <!-- HTTP Get() Function-->
        @*What's in Chris' trunk?<br />
        <b>@ViewBag.ChristSmithCarTrunk</b> <br />
        The temperature outside is sitting at: <b>@ViewBag.CurrentTemp</b> degrees*@
        <b>@ViewBag.Greeting</b> Hello HOLM-SD!!! (from the view)<br />
        <p>
            We're going to have an exciting event at the park.<br />
            <h1>Happy Easter!</h1>
        </p>

        <p>Where: Hourglass Park, San Diego, CA 92126</p>
        @*<a asp-action="RsvpForm">RSVP here!</a>*@
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP HERE</a>

    </div>
</body>
</html>
